.add-popup {
    position: fixed;
    top: 35%;
    left: 30%;
    width: 50%;
    height: 20em;
    background: rgba(169, 169, 169, 0.9);
    z-index: 9999;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.add-popup.visible {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.add {
    background-color: aliceblue;
    text-align: center; 
    width: 100%;
    height: 100%;
}

.add .close-button {
    width: 50px;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

.add-popup-logo {
    width: 10em;
}

.add-category { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-category input { 
    width: 80%;
    margin: auto;
}

.add-category label { 
    align-self: baseline;
    margin-left: 50px;
}

.add-category button {
    position: absolute;
    right: 20px;
    bottom: 20px; 
    background-color: lightblue;
    border-radius: 3px;
    width: 20%;
    align-self:last baseline;
}

.order-sent-message {
    width: 10em;
}