.cross-icon {
    padding: 1em;
    width: 1.6em;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.cart {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.cart-header {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-color: white;
    flex: 1
}

.cart-content {
    flex:  12;
    padding: 2em 1.5em;
    border-radius: 0.5em;
    overflow: auto;
}

.cart-total {
    padding-left: 1em;
    font-weight: 600;
}

.cart-footer {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}