.popup {
    position: fixed;
    top: 35%;
    left: 50%;
    width: 10em;
    height: 10em;
    background: rgba(169, 169, 169, 0.9);
    z-index: 9999;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.popup.visible {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.delete-btn { 
    background-color: lightblue;
    border-radius: 2px;
}

.msg {
    background-color: aliceblue;
    padding: 3em;
    text-align: center; 
    height: 300px;
    width: 100%;
}

.msg .close-button {
    width: 50px;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }

.popup-logo {
    width: 10em;
}

.order-sent-message {
    width: 10em;
}