.item {
    padding: 4em;
    width: 100%;
}

.back-arrow {
    width: 5em;
    height: auto;
    position: absolute;
    top: 1em;
    left: 2em;
}

.add-to-cart {
    width: 6em;
    height: auto;
    position: absolute;
    top: 1em;
    right: 2em;
}

.item-image-container {
    width: 20em;
    height: auto;
}

.item-name {

}

.item-quantity-bar {
    margin-top: 2em;
    background-color: #9DD0FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    border: #2754A5 solid 0.4em;
    }

.quantity-bar-icon {
    width: 3em;
    height: auto;
}

.quantity-text {
    font-size: 3em;
}

.item-container {
    display: flex;
    justify-content: space-around;
}