.item-preview {
    padding: 2em;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
}

.item-preview:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.item-preview-image {
    width: 10em;
    height: auto;
    align-self: center;
}

.item-preview-content {
    margin-top: 1em;
}

.item-preview-name {
    font-size: 1em;
    font-weight: 600;
}
