.item {
    padding: 2em;
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-image {
    width: 10em;
    height: auto;
    align-self: center;
}

.item-contents {

}

.item-name {
    font-size: 1.2em;
    font-weight: 600;
}