.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D3D3D3;
    transition: width 0.3s ease;
    border-radius: 1em;
    font-size: 10pt;
}

.categories { 
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 2em;
    padding-left: 2em;
    gap: 2em;
    font-size: 10pt;
}

.categories button { 
    background: none;
    border: none;
}

.edit-options { 
    display: flex;
    flex-direction: row;
}

.edit-icon { 
    width: 25px;
    height: 25px;
}

.category {
    font-size: 1.6em;
    font-weight: 600;
}

.bill {
    width: 8vw;
    position: fixed;
    bottom: 2vh;
    left: 1vw;
}

.selected {
    color: #439CEF;
    text-decoration: underline;
}

.category-edit { 
    display: flex;
    flex-direction: column;
}



.reorder-items { 
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.reorder-items div {
    cursor: pointer;
}

.reorder-items div:hover {
    background-color: #f0f0f0;
}

.reorder-items button {
    border: none;
    background: transparent;
    padding: 0;
}

.reorder-items button h2 {
    margin: 0;
}

.reorder-items div.dragging {
    opacity: 0.5; /* Dim the dragging item */
}