.menu {
    display: grid;
    grid-template-columns: repeat(5, 15em);
    column-gap: 2em;
    row-gap: 4em;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 1.25em;
    border: 0.2em solid #F1F1F1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}