.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(169, 169, 169, 0.9);
    z-index: 9999;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.popup.visible {
    display: flex; /* Use flex to center the .msg content */
    align-items: center;
    justify-content: center;
}

.msg {
    background-color: aliceblue;
    width: 60%; 
    padding: 20px; 
    text-align: center; 
    box-sizing: border-box;
    position: relative;
}

.msg .close-button {
    position: absolute;
    width: 50px;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }