.popup {
    position: fixed;
    top: 35%;
    left: 50%;
    width: 10em;
    height: 10em;
    background: rgba(169, 169, 169, 0.9);
    z-index: 9999;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.popup.visible {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.request-bill-msg {
    margin-top: 100px;
    background-color: aliceblue;
    padding-left:6em;
    padding-right: 6em;
    text-align: center; 
    position: relative;
}

.request-bill-msg .close-button {
    width: 50px;
    top: 0;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
  }

.popup-logo {
    width: 10em;
}

.order-sent-message {
    width: 10em;
}

.bill-table{ 
    overflow-y: auto;
}

.btn-group { 
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.btn-group button{ 
    background-color: lightblue;
    border-radius: 2px;
    width: 100%;
}