.sidebar-icon-container {
    margin: 1em;
    padding: 0.5em;
    background-color: #888888;
    border-radius: 1em;
    border: black 2px solid;
    overflow: hidden;
}

.sidebar {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 6em;
    background-color: #C0C0C0;
    transition: width 0.3s ease;
    border-radius: 1em;
}

.sidebar.expanded {
    width: 25em;
}

.cart {

}

.order-list {

}