.topbar { 
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.left-topbar {
    flex: 3;
    display: flex;
    flex-direction: row;
    
}

.right-topbar {
    flex: 1;
    display: flex;
    flex-direction: row;
}

img.logo { 
    height: 100%;
    flex: 1;
}

.search-bar {
    height: 3em;
    width: 30em;
    align-self: center;
    background-color: #e8e8e8;
    border: none;
    flex: 4;
    margin-right: 5vw;
    margin-left: 4vw;
    border-radius: 10px;
}

.table-number { 
    margin: auto;
    margin-right: 2vw;
    align-items: center;
}

.topbar-icon-container {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
}

.search-bar::placeholder {
    padding-left: 20px;
}