.topbar { 
    width: 100%;
    height: 100%;
    background-color: #222A5C;
    display: flex;
    flex-direction: row;
}

.left-topbar {
    flex: 3;
    display: flex;
    flex-direction: row;
}

.right-topbar {
    flex: 1;
    display: flex;
    flex-direction: row; 
}

.topbar-logo-link {
    width: 100%;
    flex: 1
}

.topbar-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-bar {
    height: 3em;
    width: 30em;
    align-self: center;
    background-color: #e8e8e8;
    border: none;
    flex: 8;
    margin-right: 5vw;
    margin-left: 11vw;
    border-radius: 10px;
}

.table-number {
    margin: auto 2vw auto auto;
    align-items: center;
    color: white;
}

.topbar-icon-container {
    margin: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    overflow: hidden;
}

.right-topbar.expanded {
    position: absolute;
    top: 7em;
    width: 20em;
    height: 30em;
    border-radius: 2px; 
    border: 2px solid black;
    background-color: white;
}

.search-bar::placeholder {
    padding-left: 20px;
}