.kiosk-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.kiosk-company-info {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 3%;
}
.kiosk-logo {
    max-width: 15%;
    object-fit: fill;
    padding-right: 2%;
}
.kiosk-title {
    font-size: 50pt;
    font-weight: 200;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.kiosk-button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 30pt;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.kiosk-button-container {
    height: 7%;
    width: 20%;
}